:root {
    --background: #f6f1eb;
    --h1-text: black;
    --p-text: rgba(0, 0, 0, 0.7);
    --box-background: rgba(217, 217, 217, 0.3);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Karla', 'Cormorant Garamond', Arial;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-and-shadow {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

/* hero section */
.welcome {
    width: 50rem;
    margin-bottom: 5rem;
    /* padding: 2rem; */
}

h1 {
    text-align: center;
    color: var(--h1-text);
    font-family: 'Cormorant Garamond', Arial, sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

.p-and-timer-cntr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    grid-gap: 2rem;
}

p {
    color: var(--p-text);
    font: 1.5rem 'Karla' 'Tahoma';
    font-weight: 300;
    line-height: 1.5rem;
}

.timer-cntr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--box-background);
}

/* =============JOURNAL======================= */
.journal {
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.functionalBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.clearBtnDiv,
.hideBtnDiv {
    background-color: var(--box-background);
    border: none;
    font-family: 'Karla';
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideBtnDiv {
    display: none;
}

#textarea {
    width: 100%;
    resize: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* border: 0.5px solid black; */
}

/* ===============FOOTER==================== */

.footer {
    width: 50rem;
    padding: 2rem;
    padding-top: 0;
    margin-bottom: 6.25rem;
}

/* ===============TIMER==================== */

.timer__buttons--cntr {
    width: 80%;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer__btn {
    width: 50px;
    height: 50px;
    font-size: 14px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.timer__btn--userSetMin {
    font-size: 32px;
}

.timer__display--cntr {
    width: 80%;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.timer__part-cntr {
    margin-left: 75px;
}

.timer__part {
    font-size: 32px;
    /* border: 1px solid green; */
}

.timer__btn--start {
    background: #396f47;
}
.timer__btn--stop {
    background: #c04848;
}

.footer {
    display: flex;
}
.logo {
    width: 3rem;
}

/* Display for Mobile */

@media screen and (max-width: 430px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome,
    .journal,
    .footer {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .journal {
        align-items: flex-end;
        /* border: 1px solid pink; */
    }

    h1 {
        font-size: 40px;
    }

    .p-and-timer-cntr {
        /* width: 90%; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    p {
        font-size: 14px;
        margin-bottom: -25px;
    }

    .timer {
        margin-top: 6rem;
        width: 370px;
        height: 160px;
    }

    .timer__btn {
        text-align: center;
    }
    .timer__btn--userSetMin {
        font-size: 18px;
    }

    .timer__part-cntr {
        margin-left: 70px;
    }
    .timer__part {
        font-size: 30px;
    }

    .clearBtn,
    .hideBtn {
        font-size: 18px;
        width: 40px;
        height: 40px;
        margin: 0px;
        text-align: center;
        /* cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; */
    }
    #textarea {
        width: 100%;
        /* margin-bottom: 5rem; */
    }

    /* Hidden Elements */
    .hideBtn {
        display: none;
    }

    /* edge case */
    button {
        padding-right: 8px;
    }

    .footer {
        height: 15rem;
    }
}
