:root {
    --background: #f6f1eb;
    --h1-text: black;
    --p-text: rgba(0, 0, 0, 0.7);
    --box-background: rgba(217, 217, 217, 0.3);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Karla', 'Cormorant Garamond', Arial;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-and-shadow {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.section-padding {
    padding: 0 1.5rem;
}

/* hero section */
.welcome {
    width: 47rem;
    margin-bottom: 3rem;
    /* padding: 2rem; */
}

h1 {
    text-align: center;
    color: var(--h1-text);
    font-family: 'Cormorant Garamond', Arial, sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

.p-and-timer-cntr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    grid-gap: 2rem;
}

p {
    color: var(--p-text);
    font: 'Karla' 'Tahoma';
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.timer-cntr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--box-background);
}

/* =============JOURNAL======================= */
.journal {
    width: 47rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.functionalBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.clearBtnDiv,
.hideBtnDiv {
    background-color: var(--box-background);
    border: none;
    font-family: 'Karla';
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideBtnDiv {
    display: none;
}

#textarea {
    width: 100%;
    resize: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* border: 0.5px solid black; */
}

/* ===============FOOTER==================== */

.footer {
    width: 47rem;
    /* padding: 2rem; */
    padding-top: 0;
    margin-bottom: 6.25rem;
}

/* ===============TIMER==================== */

.timer__buttons--cntr {
    width: 80%;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer__btn {
    width: 50px;
    height: 50px;
    font-size: 14px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.timer__btn--userSetMin {
    font-size: 32px;
}

.timer__display--cntr {
    width: 80%;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.timer__part-cntr {
    margin-left: 75px;
}

.timer__part {
    font-size: 32px;
    /* border: 1px solid green; */
}

.timer__btn--start {
    background: #396f47;
}
.timer__btn--stop {
    background: #c04848;
}

.footer {
    display: flex;
}
.logo {
    width: 3rem;
}

/* Display for Tablet */

@media screen and (max-width: 769px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .p-and-timer-cntr {
        display: inline;
    }

    .instructions-blurb {
        font-size: 1.2rem;
        min-width: 330px;
        max-width: 440px;
        margin-bottom: 2rem;
    }

    .timer-cntr {
        min-width: 330px;
        max-width: 440px;
    }

    .journal {
        width: 90vw;
    }

    .footer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        align-items: flex-start;
    }
}
/* 
@media screen and (max-width: 400px) {
    body {
        width: 400px;
    }
    .welcome,
    .journal,
    .footer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-and-timer-cntr {
        display: inline;
    }

    .timer-cntr {
        width: 20vw;
    }

    .instructions-blurb {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .journal {
        align-items: flex-end;
    }

    .footer {
        align-items: flex-start;
    }
} */
