*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  background: cornflowerblue;
  font-family: 'Arvo', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  width: 90%;
}

.intro {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30em;
}

h1 {
  text-align: center;
  color: #57d8e9;
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.onboarding-notes {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  /* max-width: 90%; */
}

.onboarding-notes__bullet {
  margin: 0.3em 0;
}

/* ul {
  max-width: 90%;
  list-style: none;
  margin-left: -5em;
  line-height: 1.2;
}

li {
  margin: 0.8em;
} */

.journal {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#clear-btn {
  margin: 2em;
}

textarea {
  max-width: 90%;
}

.timer {
  /* max-width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1em;
  border-radius: 2em;
  background-color: #fff;
}

.timer--top {
  justify-content: space-around;
  margin: 1em;
}

.timer--bottom {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.timer__part {
  font-size: 2rem;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: rgb(113, 174, 113);
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}

.timer__btn--5min {
  background: rgb(0, 160, 0);
}
.timer__btn--10min {
  background: rgb(0, 140, 0);
}
.timer__btn--20min {
  background: rgb(0, 120, 0);
}

.timer__btn--reset {
  background: rgb(0, 100, 0);
  font-size: 2.2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.footer__p {
  text-indent: 2em;
}

@media (min-width: 1200px) {
  .journal {
    /* margin-top: 0em; */
  }
  textarea {
    width: 55%;
  }
  .footer {
    width: 55%;
  }
}
